@import "tailwindcss";
body {
  font-family: 'Michroma', sans-serif;
}
.highlight{
  background-color: rgba(85, 68, 255);
}

.normal{
  background-color: transparent;
  border: 1px solid rgba(85, 68, 255);
}

.text-highlight {
  color: rgba(85, 68, 255);
}
.text-normal {
  color: rgba(85, 68, 255, 0.5);
}

.border-highlight {
  border: 1px solid rgba(85, 68, 255);
}