@import "tailwindcss";
body {
  font-family: 'Michroma', sans-serif;
}
.highlight{
  background-color: rgba(85, 68, 255);
}

.normal{
  background-color: transparent;
  border: 1px solid rgba(85, 68, 255);
}

.text-highlight {
  color: rgba(85, 68, 255);
}
.text-normal {
  color: rgba(85, 68, 255, 0.5);
}

.border-highlight {
  border: 1px solid rgba(85, 68, 255);
}

@keyframes fadeUpBackground {
  0% {
    background: linear-gradient(to top, transparent, transparent);
  }
  100% {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  }
}

.hover-fade-up:hover {
  animation: fadeUpBackground 0.1s forwards;
}




.skill-card-ltr {
  position: relative;
  overflow: hidden;
  z-index: 0; 
}

.skill-card-ltr::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: -1; /* put it behind content */
}

.skill-card-ltr:hover::before {
  transform: translateX(0);
}


.color-empty {
  fill: #1f2937 !important; 
  rx: 2;
  ry: 2;
}

.color-scale-1 {
  fill: #064e3b; 
  rx: 2;
  ry: 2;
}

.color-scale-2 {
  fill: #047857; 
  rx: 2;
  ry: 2;
}

.color-scale-3 {
  fill: #10b981; 
  rx: 2;
  ry: 2;
}

.color-scale-4 {
  fill: #6ee7b7; 
  rx: 2;
  ry: 2;
}


.react-calendar-heatmap .react-calendar-heatmap-day {
  rx: 2;
  ry: 2;
  shape-rendering: geometricPrecision;
}

.react-calendar-heatmap text {
  display: none;
}
.react-calendar-heatmap .text {
  display: none;
}

.react-calendar-heatmap-all-weeks{
  width: 100% !important;
  translate: 0 !important;
}

/* message.  */

.user-email{
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}


/* activity animation  */
@keyframes fadePop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.random-heatmap-appear {
  opacity: 0;
  animation: fadePop 0.5s ease-out forwards;
}

.random-heatmap-leetcode-appear {
  opacity: 0;
  animation: fadePop 0.5s ease-out forwards;
}