@import "tailwindcss";

.font-orbitron{
  font-family: 'Orbitron', sans-serif;
}

.font-inter{
  font-family: 'Inter', sans-serif;
}
.font-michroma{
  font-family: 'Michroma', sans-serif;
}

.font-jersey {
  font-family: "Jersey 20", sans-serif;
}

.highlight{
  background-color: #000000;
}

.normal{
  background-color:#AFAEAC;
}

.text-highlight {
  color: #000000;
}
.text-normal {
  color: #AFAEAC;
}

.border-highlight {
  border: 1px solid rgba(85, 68, 255);
}

@keyframes fadeUpBackground {
  0% {
    background: linear-gradient(to top, transparent, transparent);
  }
  100% {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  }
}

.hover-fade-up:hover {
  animation: fadeUpBackground 0.1s forwards;
}

.color-empty {
  fill: #454545 !important;
  rx: 2;
  ry: 2;
}
.color-scale-1 {
  fill: #E9B0FF !important;
  rx: 2;
  ry: 2;
}

.color-scale-2 {
  fill: #C99AFF !important;
  rx: 2;
  ry: 2;
}

.color-scale-3 {
  fill: #A586FF !important;
  rx: 2;
  ry: 2;
}

.color-scale-4 {
  fill: #4D84FA !important;
  rx: 2;
  ry: 2;
}


.react-calendar-heatmap .react-calendar-heatmap-day {
  rx: 2;
  ry: 2;
  shape-rendering: geometricPrecision;
}


.react-calendar-heatmap-all-weeks{
  width: 100% !important;
  translate: 0 !important;
}

/* message.  */

.user-email{
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}


/* activity animation  */
@keyframes fadePop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.random-heatmap-appear {
  opacity: 0;
  animation: fadePop 0.5s ease-out forwards;
}

.random-heatmap-leetcode-appear {
  opacity: 0;
  animation: fadePop 0.5s forwards ease-out;
}

@keyframes heat-appear {
  from { opacity: 0; transform: scale(0.4); }
  to   { opacity: 1; transform: scale(1); }
}